In [1]:
#Installs the pandas library using the pip package manager.

#uncomment pip to install pandas
#!pip install pandas

In [2]:
import pandas as pd
#Imports the pandas library and assigns it the alias 'pd' for easier reference in the code.

In [3]:
#Reads a CSV file named "london_merged.csv" into a pandas DataFrame and assigns it to the variable 'bikes'.
bikes = pd.read_csv("london_merged.csv")

In [4]:
#Displays concise information about the 'bikes' DataFrame, including the data types, non-null values, and memory usage.
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [5]:
#Returns a tuple representing the dimensions of the 'bikes' DataFrame, 
#where the first element is the number of rows and the second element is the number of columns.
bikes.shape

(17414, 10)

In [6]:
#Prints the 'bikes' DataFrame, displaying its contents.
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [7]:
#Counts and displays the occurrences of unique values in the 'weather_code' column of the 'bikes' DataFrame.
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [8]:

#Counts and displays the occurrences of unique values in the 'season' column of the 'bikes' DataFrame.
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [9]:
#Creates a dictionary named 'new_cols_dict' mapping old column names to new column names for the 'bikes' DataFrame.

new_cols_dict ={
    'timestamp':'time',
    'cnt':'count', 
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

In [10]:
#Renames the columns of the 'bikes' DataFrame according to the mapping specified in the 'new_cols_dict' dictionary, in-place.

bikes.rename(new_cols_dict, axis=1, inplace=True)

In [11]:
#Normalizes the values in the 'humidity_percent' column of the 'bikes' DataFrame by dividing each value by 100.

bikes.humidity_percent = bikes.humidity_percent / 100

In [12]:
#Creates a dictionary named 'season_dict' mapping numerical values to 
#corresponding season names for the 'season' column in the 'bikes' DataFrame.

season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

In [13]:
#Creates a dictionary named 'weather_dict' mapping numerical values to 
#corresponding weather descriptions for the 'weather' column in the 'bikes' DataFrame.

weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

In [14]:
# Converts the 'season' column in the 'bikes' DataFrame to a string data type.

bikes.season = bikes.season.astype('str')

In [15]:
# Maps the values in the 'season' column of the 'bikes' DataFrame using the 'season_dict' dictionary, 
#replacing numerical values with corresponding season names.
bikes.season = bikes.season.map(season_dict)

In [16]:

# Converts the 'weather' column in the 'bikes' DataFrame to a string data type.

bikes.weather = bikes.weather.astype('str')

In [17]:
# Maps the values in the 'weather' column of the 'bikes' DataFrame using the 'weather_dict' dictionary, 
#replacing numerical values with corresponding weather descriptions.

bikes.weather = bikes.weather.map(weather_dict)

In [18]:
#Displays the first few rows of the 'bikes' DataFrame, 
#providing a snapshot of its current state after the previous data manipulations.

bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [19]:
#Writes the 'bikes' DataFrame to an Excel file named 'london_bikes_final.xlsx' with a sheet named 'Final'.
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Final')